POSTGRES_USER=stellar
POSTGRES_PASSWORD=ChangeThisToAStrongAlphanumericPassword
POSTGRES_DB=horizon

# Keep this identical in both files under config/.
NETWORK_PASSPHRASE="Acme Private Stellar Network ; June 2026"
